doctype html
html
  head
    title About Us | Our Shopping Website
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    style
        include ./about.css
  body(style='background-image: url("../static/images/about.jpg");background-size: cover')
    div
      h1 About Us
      p Our company was founded in 2010 with the goal of providing high-quality, affordable products to our customers. Since then, we have grown into a trusted and respected brand known for our commitment to customer satisfaction.
      p We are dedicated to offering a wide selection of products at competitive prices, and we pride ourselves on our excellent customer service. Our team is made up of experts who are passionate about what they do and are always ready to help our customers find exactly what they need.
      p Thank you for choosing us as your go-to shopping destination. We hope to serve you for all of your product needs for years to come.
